body {
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: darkslategray;
    display: flex;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.page {
    display: none;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 25%;
    box-sizing: border-box;
}

.page.active {
    display: block;
}

